<select class="form-control selectpicker" name="form[parent_id]" id="category" >
    <option value="0">-</option>
    {% for item in tree %}
    {% if item.__lvl > 0 %}
    <option value="{{ item.pk }}"
            {% if item.pk == parent_id %}
            selected
            {% endif %}>
        {% for i in 1..item.__lvl %}
        <span>&nbsp;&nbsp;</span>
        {% endfor %}
        {{ item.title }}
    </option>
    {% else %}
    <option name="id" value="{{ item.pk }}"
            {% if item.pk == parent_id %}
            selected
            {% endif %}
    >{{ item.title }}</option>
    {% endif %}
    {% endfor %}
</select>
