{% extends 'Index.html' %}

{% block content %}
<div class="container">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><img src="/images/actions.jpg" alt="" class="pull-left tab-header">
            <p class="tab-header">
                Категории
                <a href="/category/edit" class="btn btn-default pull-right">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Добавить
                </a>
            </p>
        </div>

        <div class="panel-body">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th width="83%" style="text-align: center">Название категории</th>
                        <th width="17%" style="text-align: center">Инструменты</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in tree %}
                    <tr>
                        <td>
                            {% if item.__lvl > 0 %}
                            {% for i in 1..item.__lvl %}
                            <span>&nbsp;&nbsp;</span>
                            {% endfor %}
                            {{ item.title }}
                            {% else %}
                            {{ item.title }}
                            {% endif %}
                        </td>
                        <td style="text-align: right">
                            <a href="/category/edit?parent_id={{ item.pk }}" class="btn btn-info btn-xs">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </a>
                            <a href="/category/edit?id={{ item.pk }}" class="btn btn-success btn-xs" role="button">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </a>
                            <span>&nbsp;&nbsp;</span>
                            <a href="/category/up?category_id={{ item.pk }}" class="btn btn-default btn-xs" role="button">
                                <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                            </a>
                            <a href="/category/down?category_id={{ item.pk }}" class="btn btn-default btn-xs" role="button">
                                <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                            </a>
                            <span>&nbsp;&nbsp;</span>
                            <a href="/category/del?id={{ item.pk }}" class="btn btn-danger btn-xs" role="button">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

    </div>
</div>

{% endblock %}