{% extends 'Index.html' %}

{% block content %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><img src="/images/actions.jpg" alt="" class="pull-left tab-header">
            <p class="tab-header">
                Добавление | Редактирование категории
                <a href="/category/edit" class="btn btn-default pull-right">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Добавить
                </a>
                <a href="/categories" class="btn btn-default pull-right">
                    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                    К списку
                </a>
            </p>
        </div>
        <div class="panel-body">
            {% for error in errors %}
            <div class="alert alert-danger">
                {{ error.message }}
            </div>
            {% endfor %}

            <form action="/category/save" method="post">
                <table class="table">
                    <tbody>
                    <tr>
                        <td width="20%"><label for="category">Родительская категория</label></td>
                        <td width="80%"><t4:block path="//Category/Default" id="{{ parent_id }}"/></td>
                    </tr>
                    <tr>
                        <td><label for="title">Название категории</label></td>
                        <td><input class="form-control" type="text" name="form[title]" id="title" value="{{category.title}}" required></td>
                    </tr>
                    </tbody>
                </table>
                <input type="hidden" name="form[pk]" value="{{category.pk}}">
                <hr>
                <input class="btn btn-success pull-right" type="submit" value="Сохранить" name="save">
            </form>
        </div>
    </div>
</div>
{% endblock %}